
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: thistle;
}
header{
    /* background: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;

}
.header_inicial{
    background: red;
    width: 200px;
    height: 100px;
}
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f1e7b6; width: 100%;
    height: 300px;
}
.div-1 {
    background-color: violet;
    width: 200px;
    height: 200px;
}
.div-2 {
    justify-content: center;
    background-color: purple;
    width: 150px;
    height: 150px;
}
.div-3 {
    background-color: turquoise;
    width: 200px;
    height: 200px;
}
.div_ejer1{
    width: 100%;
    margin: 20px auto;
    background: cadetblue;
}
.box{
    border: 2px solid black;
    padding: 20px;
    width: 700px;
    margin: 15px;
    display: inline-block;
    background: rgb(180, 200, 231);
}
.div_ejer2{
    border: 5px dashed white;
    width: 1000px;
    height: 1010px;
    margin: 20px auto;
    background: rgb(0, 94, 131);

}
img {
width: 100%;
height: auto;
}